@media (min-width: 768px) {
#app-shell{
    grid-template-columns: 21.875% 1fr;
    grid-template-areas: 
        "sidebar topbar"
        "sidebar main";
}
#header{
    grid-area: topbar;
}
#main{
    grid-area: main;
}
#sidebar{
    grid-area: sidebar;
}
}